################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSOPESY_G-Tri_OS/
/MCO1/.vs/MCO1/v17/ipch
/MCO1/.vs/MCO1/v17/ipch
*.ipch
*.ipch
*.ipch
/MCO1/.vs/MCO1/v17/ipch
MCO1/.vs/MCO1/v17/Browse.VC.db-shm
MCO1/.vs/MCO1/v17/Browse.VC.opendb
