################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSOPESY_G-Tri_OS/
/MCO1/.vs/MCO1/v17/ipch
*.ipch
MCO1/.vs/MCO1/v17/Browse.VC.db-shm
MCO1/.vs/MCO1/v17/Browse.VC.opendb
/MCO1/.vs/MCO1/FileContentIndex
/MCO1
/MCO1/.vs
/MCO1/.vs/MCO1
/MCO1
/MCO1/.vs
*.db-wal
*.db-shm
/MCO1/.vs/MCO1/v17
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.db-wal
